.DS_Store
.classpath
.project
.idea
*.iml
*.ipr
*.iws
build
dist
out
node_modules
target
.DS_Store
.gradle
/.gradle
.settings
subprojects/parseq-lambda-names/bin/
subprojects/parseq-tracevis/npm-debug.log