language: java

script: ./gradlew build

jdk:
  - oraclejdk8

#Below skips the installation step completely (https://docs.travis-ci.com/user/customizing-the-build/#Skipping-the-Installation-Step)
#If we don't skip it Travis runs unnecessary Gradle tasks like './gradlew assemble'
install:
 - true