.tableview th:first-child {
  border-radius: 5px 0 0 0;
}

.tableview th:last-child {
  border-radius: 0 5px 0 0;
}

.tableview .hidden {
  display: none;
}

.tableview span {
  white-space: nowrap;
}

.tableview td span.composite {
  font-weight: bold;
}

.tableview td.numeric {
  text-align: right;
}

.tableview td.value textarea {
  min-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tableview .success {
  color: green;
}

.tableview .error {
  color: red;
}

.tableview .early_finish {
  color: goldenrod;
}

.tableview .unfinished {
  color: gray;
}
