.waterfallview .trace rect { stroke: #999; }

.waterfallview .trace rect { fill: #DDD; }
.waterfallview .trace.success rect { fill: #E0FFE0; }
.waterfallview .trace.error rect { fill: #FFE0E0; }
.waterfallview .trace.early_finish rect { fill: #FFC; }

.waterfallview .trace text,
.waterfallview .trace text tspan {
  fill: #333;
  font-family: arial;
  pointer-events: none;
}

.waterfallview .trace.composite {
  cursor: pointer;
}

.waterfallview .axis path,
.waterfallview .axis line {
  pointer-events: none;
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}

.waterfallview .axis.grid line.tick.minor {
  stroke-opacity: .05;
}

.waterfallview {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
